/* main.css */

/* Phone widths: 320, 375, 425
   Tablet width: 768
   Laptop widths: 1024, 1440
 */

/* My phone vert: <= 425 target 25px
   My phone horz: 769 <= width <= 1024 target 30px
   My tablet: 1201 <= width <= 1300 target 30px
   My laptop: >= 1440 target 70px
 */

@media (max-width: 425px) {  /* phone, vertical */
    body {
        font-size: 25px;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {  /* horz phone */
    body {
        font-size: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {  /* tablet */
    body {
        font-size: 30px;
    }
}

@media (min-width: 1301px) and (max-width: 1439px) {  /* bigger than tablet, smaller than laptop */
    body {
        font-size: 40px;      /* don't have any devices in this range, so guessing... */
    }
}

@media (min-width: 1440px) {  /* tablet and my laptop */
    body {
        font-size: 70px;      /* one step per 10px with 15" wide screen (160", 13.3'),
                                 or max distance is px * screen width / 80 in ft
                               */
    }
}

p {
    margin-block-start: 0;
    margin-block-end: 0.2em;
}

ol {
    margin-block-start: 0;
    margin-inline-start: 0.4em;
    padding-inline-start: 0.95em;
}

label {
    #vertical-align: middle;
    padding-right: 0.3em;
}

input {
    font-family: sans-serif;
    #font-family: serif;
    font-size: inherit;
}
